.toggle-demo {
    position: absolute;
    top: 10px;
    right: -8px;
    display: block;
    width: 154px;
    height: auto;
    z-index: 99;
    opacity: .9
}

.toggle-demo:hover {
    opacity: 1
}

.toggle-demo .btn-group {
    width: 100px;
    float: left
}

.toggle-demo > span {
    display: inline-block;
    float: left;
    margin-right: 5px;
    line-height: 21px;
    color: #757575
}

.demo-vertical-uislider {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.demo-vertical-uislider > div {
    height: 200px;
    margin: 0 0 0 10px;
    display: inline-block
}

.demo-vertical-uislider > :first-child {
    margin-left: 15px
}

.knobs-demo > div {
    display: inline-block;
    margin-left: 30px
}

.knobs-demo > :first-child {
    margin-left: 0
}

.demo label input[type=checkbox].checkbox + span:before, .demo label input[type=radio].radiobox + span:before {
    border: 1px solid #5E5E5E
}

.demo label:hover input[type=checkbox].checkbox + span:before {
    border-color: #E77317
}

.demo label {
    margin-bottom: 4 !important
}

.demo .checkbox i {
    border-color: #7A7A7A
}

.demo .checkbox, .demo .radio {
    padding-left: 22px
}

.demo.activate {
    right: 0 !important;
    box-shadow: -11px 12px 23px rgba(0, 0, 0, .2);
    padding: 5px 10px 10px
}

.demo #demo-setting + form {
    display: none
}

.demo.activate #demo-setting + form {
    display: block
}

.demo {
    position: absolute;
    top: 5px;
    right: 0;
    width: 160px;
    z-index: 902;
    background: #F1DA91
}

.demo > span {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 5px 0 0 5px;
    background: #F1DA91;
    padding: 2px;
    text-align: center;
    line-height: 28px;
    cursor: pointer
}

.demo > span i {
    font-size: 17px
}

.demo.activate > span i:before {
    content: "\f00d"
}

.demo.activate > span {
    left: -30px
}

.demo > span:hover i {
    color: #333 !important
}

.demo form section {
    margin: 0 !important
}

.demo .btn {
    font-size: 13px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
    padding: 3px 7px !important;
    height: auto !important
}

.demo-liveupdate-1 {
    font-size: 12px !important;
    position: absolute !important;
    left: 33px;
    top: 15px;
    display: block;
    z-index: 2;
    font-weight: 700;
    padding: 1px 61px 3px 7px
}

.demo-btns {
    margin: 0;
    padding: 0;
    list-style: none
}

.demo-btns > li {
    display: inline-block;
    margin-bottom: 7px
}

.demo-icon-font {
    font-size: 14px;
    margin-bottom: 6px;
    padding-top: 4px;
    padding-bottom: 4px
}

.demo-icon-font:hover {
    background-color: rgba(86, 61, 124, .1);
    text-decoration: none
}

.demo-modal {
    width: auto;
    max-width: 600px;
    z-index: 1
}

.demo-red {
    color: #DF413E
}

.demo-orange {
    color: #DAA03E
}

.demo-border {
    border: 1px solid rgba(0, 0, 0, .2)
}

.nav-demo-btn {
    display: none
}

body:not(.menu-on-top) .nav-demo-btn {
    display: block;
    padding: 6px 5px;
    margin: 5px 10px;
    width: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 12px;
    white-space: normal
}

.fixed-navigation .nav-demo-btn, .minified .nav-demo-btn {
    display: none !important
}

.smart-rtl .demo .margin-right-5 {
    margin-right: 0 !important
}

.reset-this {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
    /* basic modern patch */
    all: initial;
    all: unset;
}